$blue: #1070ca;
$console: #808082;
$lightConsole: #a3a3a3;
$linkConsole: #14b5d0;
$darkGray: #1e1e1e;
$gray: #212528;
$lightBlue: #4da8ff;
$lighterBlue: #dbeaf7;
$mediumGray: #464a4d;
$textDark: #234361;
$text: #425a70;

$tablet: 768px;
$desktop: 960px;
